{# templates/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Arcadia Zoo</title>
</head>
<body>
    <h1>Welcome to Arcadia Zoo</h1>
    <p>This is the home page.</p>
</body>
</html>