{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'accueil de Symfony!</h1>
    <p>Ceci est votre page d'accueil par défaut.</p>
{% endblock %}
